.center_div{
    padding:100px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top:100px;
    margin-bottom:100px;
    width:80% /* value of your choice which suits your alignment */
}
.full-width{
    width: 100%!important;
}
.border{
    border:1px solid #dee2e6!important;
}
.form-spacing{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}